<footer>
  <style>
    .footer-info {
      border-top: 1px solid rgb(200, 200, 200);
      background: rgb(239, 238, 238);
      height: 80px;
      width: 100%S;
      display: flex;
      align-items: center;
      padding: 0px 110px;
    }
    .info-left {
      display: flex;
      align-items: center;
    }
    .info-right {
      margin-left: auto;
      display: flex;
    }
    .info-right p {
      margin-left: 10px;
      font-weight: bold;
    }
    .info-right i {
      text-align: center;
      font-size: 24px;
      margin-left: 10px;
    }
    .f-help {
      padding: 48px 110px 20px 110px;
      /* height: 305px; */
      border-top: 1px solid rgb(200, 200, 200);
      background: rgb(239, 238, 238);
      display: flex;
    }
    .f-help-left {
      height: 305px;
      width: 30vw;
    }

    .f-help-left a {
      text-decoration: none;
      display: block;
      color: black;
      line-height: 2.3;
    }
    .f-help-left a:hover {
      text-decoration: underline;
    }
    /* f-info-help-middle */
    .f-help-middle {
      height: 305px;
      width: 30vw;
    }
    .f-help-middle h6 {
      font-weight: bold;
    }
    .f-help-middle span a {
      text-decoration: none;
      display: block;
      color: black;
      line-height: 2.3;
    }
    .f-help-middle a:hover {
      text-decoration: underline;
    }

    /* f-info-help-right */
    .f-help-right {
      height: 305px;
      width: 30vw;
    }
    .f-help-right h6 {
      font-weight: bold;
    }
    .f-help-right span a {
      text-decoration: none;
      display: block;
      color: black;
      line-height: 2.3;
    }
    .f-help-right a:hover {
      text-decoration: underline;
    }
    /*.f-help-right {
      background-color: rgb(60, 0, 255);
      height: 305px;
      width: 30vw;
    } */

    .create {
      height: 60px;
      width: 100%;
      background-color: rgb(221, 220, 220);
      color: #fff;
      padding: 20px 0px;
      font-style: italic;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      animation-name: blink;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
    }
    .create span {
      color: red;
    }
    .create .by-Avi {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @keyframes blink {
      0% {
        font-size: 20px;
        color: #e70606;
      }
      50% {
        font-size: 30px;
        color: blue;
      }
      100% {
        color: rgb(34, 255, 34);
      }
    }
  </style>

  <section class="f-help">
    <div class="f-help-left">
      <h6>Support</h6>
      <span>
        <a href="#">Help Centre</a>
        <a href="#">AirCover</a>
        <a href="#">Anti-discrimination</a>
        <a href="#">Disability support</a>
        <a href="#">Cancellation options</a>
        <a href="#">Report neighbourhood concern</a>
      </span>
    </div>

    <div class="f-help-middle">
      <h6>Hosting</h6>
      <span>
        <a href="#">Airbnb your home</a>
        <a href="#">AirCover for Hosts</a>
        <a href="#">Hosting resources</a>
        <a href="#">Community forum</a>
        <a href="#">Hosting responsibly</a>
        <a href="#">Join a free Hosting class</a>
      </span>
    </div>
    <div class="f-help-right">
      <h6>Airbnb</h6>
      <span>
        <a href="#">Newsroom</a>
        <a href="#">New features</a>
        <a href="#">Careers</a>
        <a href="#">Investors</a>
        <a href="#">Airbnb.org emergency stays</a>
      </span>
    </div>
  </section>

  <div class="footer-info">
    <hr />
    <div class="info-left">
      <p>© 2024 Airbnb, Inc.</p>
      <p>&nbsp; &nbsp;&nbsp;·Privacy</p>
      <p>&nbsp; &nbsp;&nbsp;·Terms</p>
      <p>&nbsp;&nbsp;&nbsp;·Sitemap</p>
      <p>&nbsp;&nbsp;&nbsp;·Company details</p>
    </div>
    <div class="info-right">
      <p>English (IN)</p>
      <p>₹ INR</p>
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-twitter"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
  <div class="create">
    <div class="by-Avi">
      <h5>Created By <span> &hearts;</span> Avi</h5>
    </div>
  </div>
</footer>
