<% layout('./layouts/boilerplate.ejs') -%>
<div class="row">
  <div class="col-6 offset-3">
    <h1 class="col-3 offset-5" style="color: rgb(34, 0, 255)">
      <b> Login</b>
    </h1>
    <form action="/login" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label"> Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label"> Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
        />
      </div>
      <button class="btn btn-success col-4 offset-4">Log In</button>
      <hr />
      <p class="col-5 offset-4">
        Don't have an account? <a href="/signup">Signup</a>
      </p>
    </form>
  </div>
</div>
